<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <title>Khoá Học Udemy - Unica - Gitiho Giá Chỉ 50k</title>
    <meta name="title" content="Khoá Học Udemy - Unica - Gitiho Giá Chỉ 50k" />
    <meta name="description"
        content="Khám phá cơ hội học trực tuyến với khoá học Udemy tại Việt Nam, với giá siêu tiết kiệm chỉ 50k. Tận hưởng sự đa dạng trong lựa chọn khoá học và tiết kiệm đáng kể khi bạn học với chúng tôi. Đừng bỏ lỡ cơ hội học tốt nhất với Udemy Việt Nam." />

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Full Bootcamp",
          "url": "https://fullbootcamp.com",
          "logo": "https://fullbootcamp.com/img/logo-bootcamp.png",
          "sameAs": "https://www.facebook.com/fullbootcamp3"
        }
        </script>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <link rel="canonical" href="https://fullbootcamp.com" />
    <meta property="og:url" content="https://fullbootcamp.com" />
    <meta property="og:title" content="Khoá Học Udemy - Unica - Gitiho Giá Chỉ 50k" />
    <meta property="og:description"
        content="Khám phá cơ hội học trực tuyến với khoá học Udemy tại Việt Nam, với giá siêu tiết kiệm chỉ 50k. Tận hưởng sự đa dạng trong lựa chọn khoá học và tiết kiệm đáng kể khi bạn học với chúng tôi. Đừng bỏ lỡ cơ hội học tốt nhất với Udemy Việt Nam." />
    <meta property="og:image" content="https://fullbootcamp.com/1662989050474fb-ogimg.png" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/base.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/tingle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <%- include('../layout/analytics'); %>
</head>

<body class="preloader-visible" data-barba="wrapper">

    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->


    <main class="main-content  ">
        <%- include('../layout/header'); %>
            <div class="content-wrapper  js-content-wrapper">


                <section data-anim-wrap class="masthead -type-1 js-mouse-move-container">
                    <div class="masthead__bg">
                        <img src="img/home-1/hero/bg.png" alt="image">
                    </div>


                    <div class="container">
                        <div data-anim-wrap="" class="row y-gap-50 justify-between items-center animated">
                            <div class="col-xl-6 col-lg-11 ">
                                <div class="masthead__content">
                                    <h1 data-anim-child="slide-up" class="masthead__title is-in-view">
                                        Khoá Học Udemy - Unica - Gitiho <span class="text-green-1 ">Giá Chỉ
                                            50k</span>
                                    </h1>
                                    <p data-anim-child="slide-up delay-1" class="masthead__text is-in-view">
                                        Website hỗ trợ tải khoá học Udemy, Unica, Gitiho, với giá rất rẻ, chỉ 50k bạn đã
                                        có thể sở hữu khoá học trị giá, nâng
                                        cao kiến thức và thu nhập cho bản thân !
                                    </p>
                                    <div data-anim-child="slide-up delay-2"
                                        class="masthead__buttons row x-gap-10 y-gap-10 is-in-view">

                                        <div class="col-12 col-sm-auto">
                                            <a data-barba="" target="_blank" href="https://youtu.be/GsZcxZGavRQ"
                                                class="button -md -outline-light-13  ">Hướng dẫn</a>
                                        </div>
                                    </div>
                                    <div data-anim-child="slide-up delay-3"
                                        class="masthead-info row y-gap-15 sm:d-none is-in-view">

                                        <div class="masthead-info__item d-flex items-center text-white">
                                            <div class="masthead-info__icon mr-10">
                                                <img src="img/masthead/icons/1.svg" alt="icon">
                                            </div>
                                            <div class="masthead-info__title lh-1">5000+ khoá học có sẵn</div>
                                        </div>

                                        <div class="masthead-info__item d-flex items-center text-white">
                                            <div class="masthead-info__icon mr-10">
                                                <img src="img/masthead/icons/2.svg" alt="icon">
                                            </div>
                                            <div class="masthead-info__title lh-1">Tiết kiệm tiền và thời gian</div>
                                        </div>

                                        <div class="masthead-info__item d-flex items-center text-white">
                                            <div class="masthead-info__icon mr-10">
                                                <img src="img/masthead/icons/3.svg" alt="icon">
                                            </div>
                                            <div class="masthead-info__title lh-1">Hộ trợ Update miễn phí</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-11">
                                <div data-anim-child="slide-up delay-6" class="masthead-form is-in-view">
                                    <h4 class="masthead-form__title text-20 lh-15 fw-500 mb-30">
                                        Get Khoá Học <span class="text-purple-1"> tại đây !
                                        </span>
                                    </h4>

                                    <form action="" id="handle_checkcourse">
                                        <div class="masthead-form__group">
                                            <label>Email</label>
                                            <input type="email" required="" placeholder="adbc@gmail.com" id="email">
                                        </div>
                                        <div class="masthead-form__group">
                                            <label>Link khoá học cần tải:</label>
                                            <textarea
                                                placeholder="https://www.udemy.com/course/git-and-github-bootcamp/"
                                                required="" rows="7" id="links" style="border: 1px solid var(--color-light-8);padding: 15px 22px;
                                                border-radius: 8px;"></textarea>

                                        </div>

                                        <div class="masthead-form__group">
                                            <button type="submit" aria-label="Check khoá học"
                                                class="button -md -purple-1 text-white">Check khoá
                                                học</button>
                                        </div>

                                        <div class="masthead-form__desc">
                                            Hỗ trợ link khoá học Unica, Udemy, Gitiho. Nhập mỗi link 1 dòng<br>
                                            <a class="text-purple-1" href="/order">Tracking orders</a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <svg class="svg-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                        <defs>
                            <path id="gentle-wave"
                                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                        </defs>
                        <g class="svg-waves__parallax">
                            <use xlink:href="#gentle-wave" x="48" y="0"></use>
                            <use xlink:href="#gentle-wave" x="48" y="3"></use>
                            <use xlink:href="#gentle-wave" x="48" y="5"></use>
                            <use xlink:href="#gentle-wave" x="48" y="7"></use>
                        </g>
                    </svg>
                </section>

                <section class="layout-pt-sm layout-pb-sm border-bottom-light">
                    <div class="container">
                        <div class="row y-gap-30 justify-between">

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/1.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h4 class="text-20 fw-500">22000+ Khoá học
                                        </h4>
                                        <div class="text-dark-1">Có sẵn kho đồ sộ từ udemy, unica,gitiho
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/2.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h4 class="text-20 fw-500">Free Update</h4>
                                        <div class="text-dark-1">Đầy đủ video mới nhất và cập nhật</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/3.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h4 class="text-20 fw-500">Truy cập không giới hạn
                                        </h4>
                                        <div class="text-dark-1">Toàn quyền download</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="layout-pt-lg layout-pb-lg bg-beige-1">
                    <div data-anim-wrap="" class="container animated">
                        <div class="row y-gap-30 justify-between items-center">
                            <div class="col-xl-5 col-lg-6 col-md-10 order-2 order-lg-1">
                                <div class="about-content">
                                    <p data-anim-child="slide-up delay-1" class="about-content__title is-in-view">
                                        Chọn Khoá Học Chất Lượng và Tiết Kiệm Tại Full Bootcamp: Hơn 19,000 Khoá Học Chỉ
                                        50k Mỗi Khoá!

                                    </p>
                                    <p data-anim-child="slide-up delay-2" class="about-content__text is-in-view">Bạn
                                        muốn học những khoá học chất lượng, nhưng không muốn tốn quá nhiều tiền? Full
                                        Bootcamp sẽ giúp bạn đạt được mục tiêu
                                        đó một cách dễ dàng.

                                    </p>
                                    <div data-anim-child="slide-up delay-3" class="y-gap-20 pt-30 is-in-view">

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <div class="about-content-list__title">Tiết kiệm tiền: Học khoá học chất
                                                lượng với giá chỉ 50k.</div>
                                        </div>

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <div class="about-content-list__title">19000+ khoá học - khoá nào cũng có
                                                trên udemy, unica, gitiho...</div>
                                        </div>

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <div class="about-content-list__title">Hỗ trợ cập nhật miễn phí: Luôn được
                                                cập nhật với kiến thức mới nhất."</div>
                                        </div>

                                    </div>

                                    <div data-anim-child="slide-up delay-4" class="d-inline-block mt-30 is-in-view">
                                        <a href="#getCourseHere" class="button -md -dark-1 text-white">Get khoá học
                                            ngay!</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-5 col-lg-6 order-1 order-lg-2">
                                <div data-anim-child="slide-up delay-5" class="about-image is-in-view">
                                    <img src="img/home-1/hero/udemy-1.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="layout-pt-lg layout-pb-md section-bg">
                    <div class="container">
                        <div class="row y-gap-30 items-center">
                            <div class="col-xl-5 offset-xl-1 col-lg-6">
                                <img class="w-1/1" src="img/home-1/hero/udemy-2.jpg" alt="image">
                            </div>

                            <div class="col-xl-4 offset-xl-1 col-lg-6">
                                <h3 class="text-24 lh-1">Giá Cả Hợp Lý</h3>
                                <p class="mt-20">"Giá Cả Hợp Lý
                                    Tại Full Bootcamp, bạn không cần phải lo lắng về ngân sách. Chúng tôi cung cấp các
                                    khoá học từ Udemy với mức giá rất hợp
                                    lý, giúp bạn tiết kiệm đáng kể so với việc mua trực tiếp từ Udemy.</p>
                                <div class="d-inline-block mt-20">
                                    <a href="#getCourseHere" class="button -md -outline-purple-1 text-purple-1">Get khoá
                                        học cho tôi!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="layout-pt-lg layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">Đa Dạng Chủ Đề, Nhiều Lĩnh Vực</h2>

                                    <p class="sectionTitle__text ">Chúng tôi tự hào cung cấp một bộ sưu tập đa dạng các
                                        khoá học trên nhiều lĩnh vực khác nhau, bao gồm lập trình, thiết kế
                                        đồ họa, kỹ năng mềm, tiếng Anh, marketing, quản lý dự án và nhiều lĩnh vực khác.
                                        Bất kể bạn quan tâm đến lĩnh vực nào,
                                        chúng tôi đều có khoá học phù hợp cho bạn, và tất cả đều có sẵn trên các trang
                                        web mà Full Bootcamp hỗ trợ, như Unica,
                                        Gitiho, và Udemy.</p>

                                </div>

                            </div>
                        </div>

                        <div data-anim-wrap class="pt-60 lg:pt-50">
                            <div class="overflow-hidden js-section-slider" data-gap="30" data-loop data-pagination
                                data-slider-cols="xl-6 lg-4 md-3 sm-2">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-1" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/1.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">Node Js</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-2" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/2.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">HTML5</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-3" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/3.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">JQuery</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-4" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/4.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">CSS</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-5" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/5.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">React Native</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-6" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/6.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">Vue Js</h5>
                                        </div>
                                    </div>


                                </div>

                                <div class="d-flex justify-center x-gap-15 items-center pt-60 lg:pt-40">
                                    <div class="col-auto">
                                        <div class="pagination -arrows js-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="layout-pt-lg layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">Cách get khoá học?</h2>

                                    <p class="sectionTitle__text ">Bạn chỉ cần nhập link khoá học và email, than toán
                                        sau đó nhận files qua GoogleDrive Hoặc OneDrive</p>

                                </div>

                            </div>
                        </div>

                        <div class="row y-gap-30 justify-between pt-60 lg:pt-40">

                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/1.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">01</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Enter the links of the courses you
                                        need.</div>
                                </div>
                            </div>


                            <div class="col-auto xl:d-none">
                                <div class="pt-30">
                                    <img src="img/misc/lines/1.svg" alt="icon">
                                </div>
                            </div>


                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/2.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">02</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Pay for orders</div>
                                </div>
                            </div>


                            <div class="col-auto xl:d-none">
                                <div class="pt-30">
                                    <img src="img/misc/lines/2.svg" alt="icon">
                                </div>
                            </div>


                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/3.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">03</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Receive courses via Google Drive or
                                        OneDrive.

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row y-gap-30 items-center pt-30 lg:pt-30">
                            <iframe width="600" height="500"
                                src="https://www.youtube.com/embed/GsZcxZGavRQ?si=2HQ_-fYK2Pg4DTDS"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>

                    </div>
                </section>

                <section class="layout-pt-lg layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center pb-10">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">CÂU HỎI THƯỜNG GẶP</h2>

                                    <p class="sectionTitle__text ">Các câu hỏi thường gặp khi mua khoá học tại Full
                                        Bootcamp</p>

                                </div>

                            </div>
                        </div>
                        <div class="accordion -block js-accordion">

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Giá khoá học là bao nhiêu?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>1 khoá Udemy, Unica = 50k nhé bạn</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Mình có được tải về không?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Có. Bạn hoàn toàn có quyền download mọi khóa học khi mua tại Full Bootcamp
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Có được Update khi khóa học cập nhật thêm
                                        không?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Có. Mình có cập nhật MIỄN PHÍ cho các bạn</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Cách dùng phụ đề rời như thể nào? Cách dịch
                                        phụ đề sang tiếng việt?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Hướng dẫn dùng phụ đề rời: <a
                                                href="https://fullbootcamp.com/cach-xem-khoa-hoc-udemy-co-phu-de-tren-pc-voi-vlc-player/"
                                                target="_blank" rel="noopener noreferrer">
                                                Tại đây</a> <br>
                                            Cách dịch sang tiếng việt: <a
                                                href="https://fullbootcamp.com/huong-dan-dich-phu-de-sang-tieng-viet-khoa-hoc-udemy/"
                                                target="_blank" rel="noopener noreferrer">Tại đây</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Thanh toán xong bao lâu nhận được khoá
                                        học</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Thời gian giao hàng khoảng 2-4 tiếng. Khoá nào nặng có thể lâu hơn</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
                <section class="layout-pt-lg layout-pb-lg mb-90 section-bg">
                    <div class="section-bg__item">
                        <img class="img-full rounded-16" src="img/home-3/cta/bg.png" alt="image">
                    </div>

                    <div class="container">
                        <div class="row justify-center text-center">
                            <div class="col-xl-5 col-lg-6 col-md-11">

                                <div class="sectionTitle -light">

                                    <h2 class="sectionTitle__title ">Đăng ký get khoá học ngay!</h2>

                                    <p class="sectionTitle__text ">Get khoá học giá rẻ ngay trước khi bị fix.
                                    </p>

                                </div>

                            </div>
                        </div>

                        <div class="row mt-30 justify-center">
                            <div class="col-auto">
                                <a href="#getCourseHere" class="button -md -outline-light-4 text-white">Get khoá học cho
                                    tôi</a>
                            </div>
                        </div>
                    </div>
                </section>

                <%- include('../layout/footer'); %>
            </div>

    </main>

    <%- include('../layout/footerjs'); %>

</body>
<script>
    const modalCheckCourse = new tingle.modal({
        footer: true,
        stickyFooter: true
    })

    modalCheckCourse.addFooterBtn('Thanh toán', 'button -md -purple-1 text-white tingle-btn--pull-left', async function () {
        const items = []
        const courseItemClass = [...document.getElementsByClassName("course-item")]
        const courseItemBuy = courseItemClass.forEach(item => items.push({ courseID: item.getAttribute("courseID") }))
        const email = document.getElementById("email").value

        try {
            const createOrder = await axios.post('/order/createvnapi', {
                email, items
            })
            console.log(createOrder.data)
            window.location.href = `${createOrder.data.url}`
        } catch (error) {
            alert(error)
        }

    });
    // modalCheckCourse.addFooterBtn('Huỷ', 'button -md -purple-3 text-purple-1 tingle-btn--pull-right', function () {
    //     modalCheckCourse.close();
    // });
    const handle_checkcourse = document.getElementById("handle_checkcourse");
    handle_checkcourse.addEventListener("submit", async (event) => {
        try {
            event.preventDefault()
            const uri = document.getElementById("links").value
            const email = document.getElementById("email").value

            let links = Array.from(uri.match(/[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/ig))
            links = links.map(item => { return { uri: item, topicId: null } })

            modalCheckCourse.open()
            modalCheckCourse.setContent('Fetching data, please wait...');
            const checkCourseRequest = await axios.post('/course/check', {
                email, links
            })
            var codeHtml = ``
            if (checkCourseRequest.data[0].success) {

                for (let course of checkCourseRequest.data) {
                    if (!course.success) {
                        toastr.error(checkCourseRequest.data.messenger)
                        continue
                    }

                    const childHTML = `<div class="border-bottom-light course-item" courseID="${course.data.id}">
              <div  class="coursesCard -type-1 row y-gap-20 flex-row items-center">
                <div class="col-2 my-2">
                  <div class="coursesCard__image rounded-8 relative">
                    <img class="w-1/1 rounded-8" src="${course.data.image}" alt="image">
                    <div class="coursesCard__image_overlay rounded-8"></div>
                  </div>
                </div>

                <div class="col-8">
                  <div class="text-17 lh-15 fw-500 text-dark-1 mt-10">${course.data.name}</div>
                </div>
                
                <div class="col-2">
                  <div class="text-right md:text-left">
                    <div class="text-17 lh-1 fw-500 text-dark-1 mt-10">${course.data.price.toLocaleString('it-IT', {
                        style: 'currency', currency
                            : 'VND'
                    })}</div>
                  </div>
                </div>
              </div>
            </div>`
                    codeHtml += childHTML
                }

                modalCheckCourse.setContent(codeHtml);
            } else {
                toastr.error(checkCourseRequest.data.messenger)
            }
        } catch (error) {
            toastr.error('Something is wrong, please check again or contact the administrator')
        }


    })
</script>

</html>