<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <title>Get Udemy Paid Courses only 99INR</title>
    <meta name="title" content="Get Udemy Paid Courses only 99INR" />
    <meta name="description"
        content="If you want to acquire new skills without having to spend a dim on udemy Premium Courses, then learn how to Get Udemy Paid Courses only 99INR. Dear, you are at the right place at the right time." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://india.fullbootcamp.com" />
    <meta property="og:title" content="Get Udemy Paid Courses only 99INR" />
    <meta property="og:description" content="Tool get Udemy Paid Course" />
    <meta property="og:image" content="https://india.fullbootcamp.com/1662989050474fb-ogimg.png" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/base.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/vendors.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/tingle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <%- include('../layout/analytics'); %>
</head>

<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->


    <main class="main-content  ">
        <%- include('../layout/header'); %>
            <div class="content-wrapper  js-content-wrapper">


                <section data-anim-wrap class="masthead -type-2 js-mouse-move-container">
                    <div class="masthead__bg">
                        <div class="bg-image js-lazy" data-bg="img/home-1/hero/bg.png"></div>
                    </div>

                    <div class="container">
                        <div class="row y-gap-50 justify-center items-center">
                            <div class="col-xl-6 col-lg-11">
                                <div class="masthead__content">

                                    <h1 data-anim-child="slide-up delay-2"
                                        class="masthead__title text-white mt-10 mb-20 fw-800">
                                        Get Udemy Paid Courses
                                    </h1>
                                    <div data-anim-child="slide-up delay-3"
                                        class="masthead__subtitle fw-500 text-light-8 text-15 lh-15 mb-20">
                                        Tool to support get Paid Course Udemy, at an affordable price. With only 99 INR,
                                        you can own a
                                        valuable course, helping you improve your knowledge and income!

                                    </div>
                                    <div data-anim-child="slide-up delay-4" class="mb-20">
                                        <div class="list-unstyled fs-4">
                                            <div class="mb-2 text-white-50">
                                                <span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                        height="18" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="me-1 text-warning">
                                                        <circle cx="12" cy="12" r="10"></circle>
                                                        <polyline points="12 6 12 12 16 14"></polyline>
                                                    </svg></span><span class="align-top">Save money and time</span>
                                            </div>
                                            <div class="mb-2 text-white-50">
                                                <span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                        height="18" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="me-1 text-warning">
                                                        <polygon points="23 7 16 12 23 17 23 7"></polygon>
                                                        <rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
                                                    </svg></span><span class="align-top">9000+ courses available
                                                </span>
                                            </div>
                                            <div class="mb-2 text-white-50">
                                                <span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                        height="18" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="me-1 text-warning">
                                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                        <circle cx="9" cy="7" r="4"></circle>
                                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                                    </svg></span><span class="align-top">Free update</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-anim-child="slide-up delay-4" class="masthead__button mt-20">
                                        <a href="https://www.youtube.com/watch?v=OXDe5vz0_6A" target="_blank"
                                            class="button -md -white text-dark-1">Guide</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-11" id="getCourseHere">
                                <div data-anim-child="slide-up delay-6" class="masthead-form">
                                    <h4 class="masthead-form__title text-20 lh-15 fw-500 mb-30">
                                        Get the<span class="text-purple-1"> Course
                                        </span> here!
                                    </h4>

                                    <div class="contact-form">
                                        <div class="masthead-form__group">
                                            <label>Email</label>
                                            <input type="email" required="" placeholder="adbc@gmail.com" id="email">
                                        </div>

                                        <div class="masthead-form__group">
                                            <label>Course link to download:</label>
                                            <textarea
                                                placeholder="https://www.udemy.com/course/git-and-github-bootcamp/"
                                                required="" rows="7" id="links" style="border: 1px solid var(--color-light-8);padding: 15px 22px;
    border-radius: 8px;"></textarea>

                                        </div>

                                        <div class="masthead-form__group">
                                            <button class="button -md -purple-1 text-white"
                                                onclick="handle_checkcourse()">Check the courses</button>
                                        </div>

                                        <div class="masthead-form__desc">
                                            Please provide each link on a separate line.<br>
                                            <a class="text-blue-1" href="/order">Tracking orders</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="layout-pt-sm layout-pb-sm border-bottom-light">
                    <div class="container">
                        <div class="row y-gap-30 justify-between">

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/1.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h4 class="text-20 fw-500">22000+ Courses
                                        </h4>
                                        <div class="text-dark-1">Available from Udemy’s huge repository
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/2.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h4 class="text-20 fw-500">Free Update</h4>
                                        <div class="text-dark-1">Full of latest and updated videos</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6">
                                <div class="d-flex items-center">
                                    <div class="mr-20">
                                        <img src="img/home-3/masthead/icons/3.svg" alt="icon">
                                    </div>

                                    <div>
                                        <h4 class="text-20 fw-500">Unlimited Access
                                        </h4>
                                        <div class="text-dark-1">Full privileges for download</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="layout-pt-lg layout-pb-lg bg-beige-1">
                    <div data-anim-wrap="" class="container animated">
                        <div class="row y-gap-30 justify-between items-center">
                            <div class="col-xl-5 col-lg-6 col-md-10 order-2 order-lg-1">
                                <div class="about-content">
                                    <p data-anim-child="slide-up delay-1" class="about-content__title is-in-view">
                                        Are you seeking a course, updating your knowledge, or finding a new job?

                                    </p>
                                    <p data-anim-child="slide-up delay-2" class="about-content__text is-in-view">You
                                        want to take high-quality courses but do not want to <span>spend too much
                                            money?</span> ? Full Bootcamp will help you achieve that goal easily.

                                    </p>
                                    <div data-anim-child="slide-up delay-3" class="y-gap-20 pt-30 is-in-view">

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <div class="about-content-list__title">Good Price: 99 INR / Course</div>
                                        </div>

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <div class="about-content-list__title">Save money</div>
                                        </div>

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <div class="about-content-list__title">119000+ courses - All courses are
                                                available on Udemy</div>
                                        </div>

                                        <div class="d-flex items-center">
                                            <div class="about-content-list__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-check icon">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </div>
                                            <div class="about-content-list__title">Free update</div>
                                        </div>

                                    </div>

                                    <div data-anim-child="slide-up delay-4" class="d-inline-block mt-30 is-in-view">
                                        <a href="#getCourseHere" class="button -md -dark-1 text-white">Get the course
                                            now!</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-5 col-lg-6 order-1 order-lg-2">
                                <div data-anim-child="slide-up delay-5" class="about-image is-in-view">
                                    <img src="img/home-1/hero/udemy-1.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="layout-pt-lg layout-pb-md section-bg">
                    <div class="container">
                        <div class="row y-gap-30 items-center">
                            <div class="col-xl-5 offset-xl-1 col-lg-6">
                                <img class="w-1/1" src="img/home-1/hero/udemy-2.jpg" alt="image">
                            </div>

                            <div class="col-xl-4 offset-xl-1 col-lg-6">
                                <h3 class="text-24 lh-1">Reasonable price</h3>
                                <p class="mt-20">With the Full Bootcamp, you don't need to worry about your budget. We
                                    offer Udemy courses at a lower price, helping you
                                    save significantly compared to buying directly from Udemy.</p>
                                <div class="d-inline-block mt-20">
                                    <a href="#getCourseHere" class="button -md -outline-purple-1 text-purple-1">Get the
                                        course now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="layout-pt-lg layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">Covering a wide range of topics and fields.</h2>

                                    <p class="sectionTitle__text ">We offer a wide range of courses in many fields, such
                                        as Programming, Graphic Design, Soft Skills, English, Marketing,
                                        Project Management, etc. No matter what field you are interested in, we have the
                                        right course for you, as long as it’s
                                        on websites that Full Bootcamp supports.</p>

                                </div>

                            </div>
                        </div>

                        <div data-anim-wrap class="pt-60 lg:pt-50">
                            <div class="overflow-hidden js-section-slider" data-gap="30" data-loop data-pagination
                                data-slider-cols="xl-6 lg-4 md-3 sm-2">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-1" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/1.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">Node Js</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-2" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/2.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">HTML5</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-3" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/3.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">JQuery</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-4" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/4.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">CSS</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-5" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/5.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">React Native</h5>
                                        </div>
                                    </div>

                                    <div class="swiper-slide h-100">
                                        <div data-anim-child="slide-left delay-6" class="infoCard -type-1">
                                            <div class="infoCard__image">
                                                <img src="img/home-1/learn/6.png" alt="image">
                                            </div>
                                            <h5 class="infoCard__title text-17 lh-15 mt-10">Vue Js</h5>
                                        </div>
                                    </div>


                                </div>

                                <div class="d-flex justify-center x-gap-15 items-center pt-60 lg:pt-40">
                                    <div class="col-auto">
                                        <div class="pagination -arrows js-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="layout-pt-lg layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">How to Get Udemy Courses on Fullbootcamp?</h2>

                                    <p class="sectionTitle__text ">You need to enter the course link, email and pay.
                                        Then, you will receive files via Google Drive or</p>

                                </div>

                            </div>
                        </div>

                        <div class="row y-gap-30 justify-between pt-60 lg:pt-40">

                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/1.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">01</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Enter the links of the courses you
                                        need.</div>
                                </div>
                            </div>


                            <div class="col-auto xl:d-none">
                                <div class="pt-30">
                                    <img src="img/misc/lines/1.svg" alt="icon">
                                </div>
                            </div>


                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/2.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">02</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Pay for orders</div>
                                </div>
                            </div>


                            <div class="col-auto xl:d-none">
                                <div class="pt-30">
                                    <img src="img/misc/lines/2.svg" alt="icon">
                                </div>
                            </div>


                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="d-flex flex-column items-center text-center">
                                    <div
                                        class="relative size-120 d-flex justify-center items-center rounded-full bg-light-4">
                                        <img src="img/home-3/works/3.svg" alt="image">
                                        <div class="side-badge">
                                            <div
                                                class="size-35 d-flex justify-center items-center rounded-full bg-dark-1 -dark-bg-purple-1">
                                                <span class="text-14 fw-500 text-white">03</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-17 fw-500 text-dark-1 mt-30">Receive courses via Google Drive or
                                        OneDrive.

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>

                <section class="layout-pt-lg layout-pb-lg">
                    <div class="container">
                        <div class="row y-gap-20 justify-center text-center pb-10">
                            <div class="col-auto">

                                <div class="sectionTitle ">

                                    <h2 class="sectionTitle__title ">FAQ</h2>

                                    <p class="sectionTitle__text ">Frequently asked questions when buying courses at
                                        Full Bootcamp.</p>

                                </div>

                            </div>
                        </div>
                        <div class="accordion -block js-accordion">

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">How much does the course cost?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Only 99 INR</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Can I download it?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Yes. You can download all courses if you buy them at Full Bootcamp.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Will my course be updated if it is
                                        updated?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Yes. We update the courses for FREE.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">How long does it take to receive the course
                                        after payment?</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>You can receive the course in about 2-4 hours. You have to wait longer if the
                                            course is longer and has more content.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__item bg-light-4">
                                <div class="accordion__button">
                                    <div class="accordion__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-plus icon">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-minus icon">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <span class="text-17 fw-500 text-dark-1">Thanh toán xong bao lâu nhận được khoá
                                        học</span>
                                </div>

                                <div class="accordion__content">
                                    <div class="accordion__content__inner">
                                        <p>Thời gian giao hàng khoảng 2-4 tiếng. Khoá nào nặng có thể lâu hơn</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
                <section class="layout-pt-lg layout-pb-lg mb-90 section-bg">
                    <div class="section-bg__item">
                        <img class="img-full rounded-16" src="img/home-3/cta/bg.png" alt="image">
                    </div>

                    <div class="container">
                        <div class="row justify-center text-center">
                            <div class="col-xl-5 col-lg-6 col-md-11">

                                <div class="sectionTitle -light">

                                    <h2 class="sectionTitle__title ">Unlock Knowledge Today!</h2>

                                    <p class="sectionTitle__text ">Take action now to access premium courses and elevate
                                        your learning journey. Don't miss out – Get started and enroll in
                                        a course now!</p>

                                </div>

                            </div>
                        </div>

                        <div class="row mt-30 justify-center">
                            <div class="col-auto">
                                <a href="#getCourseHere" class="button -md -outline-light-4 text-white">Get Course
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </section>

                <%- include('../layout/footer'); %>
            </div>

    </main>

    <%- include('../layout/footerjs'); %>

</body>
<script>
    const modalCheckCourse = new tingle.modal({
        footer: true,
        stickyFooter: true
    })

    modalCheckCourse.addFooterBtn('Checkout', 'button -md -purple-1 text-white tingle-btn--pull-left', async function () {
        const items = []
        const courseItemClass = [...document.getElementsByClassName("course-item")]
        const courseItemBuy = courseItemClass.forEach(item => items.push({ courseID: item.getAttribute("courseID") }))
        const email = document.getElementById("email").value

        try {
            const createOrder = await axios.post('/order/createapi', {
                email, items
            })
            console.log(createOrder.data)
            window.location.href = `${createOrder.data.urlStripeCheckOut}`
        } catch (error) {
            alert(error)
        }

    });
    // modalCheckCourse.addFooterBtn('Huỷ', 'button -md -purple-3 text-purple-1 tingle-btn--pull-right', function () {
    //     modalCheckCourse.close();
    // });
    const handle_checkcourse = async () => {
        try {
            const uri = document.getElementById("links").value
            const email = document.getElementById("email").value

            const links = Array.from(uri.match(/[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/ig))


            const checkCourseRequest = await axios.post('/course/check', {
                email, links
            })
            var codeHtml = ``
            if (checkCourseRequest.data[0].success) {
                modalCheckCourse.open()
                modalCheckCourse.setContent('Fetching data, please wait...');
                for (let course of checkCourseRequest.data) {
                    if (!course.success) {
                        toastr.error(checkCourseRequest.data.messenger)
                        continue
                    }

                    const childHTML = `<div class="border-bottom-light course-item" courseID="${course.data.id}">
              <div  class="coursesCard -type-1 row y-gap-20 flex-row items-center">
                <div class="col-2 my-2">
                  <div class="coursesCard__image rounded-8 relative">
                    <img class="w-1/1 rounded-8" src="${course.data.image}" alt="image">
                    <div class="coursesCard__image_overlay rounded-8"></div>
                  </div>
                </div>

                <div class="col-8">
                  <div class="text-17 lh-15 fw-500 text-dark-1 mt-10">${course.data.name}</div>
                </div>
                
                <div class="col-2">
                  <div class="text-right md:text-left">
                    <div class="text-17 lh-1 fw-500 text-dark-1 mt-10">${(course.data.priceindia / 100).toLocaleString('en-IN', {
                        maximumFractionDigits: 2,
                        style: 'currency',
                        currency: 'INR'
                    })}</div>
                  </div>
                </div>
              </div>
            </div>`
                    codeHtml += childHTML
                }

                modalCheckCourse.setContent(codeHtml);
            } else {
                toastr.error(checkCourseRequest.data.messenger)
            }
        } catch (error) {
            toastr.error('Something is wrong, please check again or contact the administrator')
        }


    }
</script>

</html>