<div class="dashboard__sidebar scroll-bar-1">


    <div class="sidebar -dashboard">

        <div class="sidebar__item -is-active -dark-bg-dark-2">
            <a href="/admin/order" class="d-flex items-center text-17 lh-1 fw-500 -dark-text-white">
                <i class="text-20 icon-list-2 mr-15"></i>
                Đơn hàng
            </a>
        </div>

        <div class="sidebar__item ">
            <a href="/admin/course/khoahoccantai" class="d-flex items-center text-17 lh-1 fw-500 ">
                <i class="text-20 icon-list mr-15"></i>
                Khoá học cần tải
            </a>
        </div>
        <div class="sidebar__item ">
            <a href="/admin/course" class="d-flex items-center text-17 lh-1 fw-500 ">
                <i class="text-20 icon-book mr-15"></i>
                Courses
            </a>
        </div>

        <div class="sidebar__item ">
            <a href="/admin/bank/vietcombank" class="d-flex items-center text-17 lh-1 fw-500 ">
                <i class="text-20 icon-save-money mr-15"></i>
                Vietcombank
            </a>
        </div>

        <div class="sidebar__item ">
            <a href="/admin/bank/momo" class="d-flex items-center text-17 lh-1 fw-500 ">
                <i class="text-20 icon-save-money mr-15"></i>
                MOMO
            </a>
        </div>

        <div class="sidebar__item ">
            <a href="/admin/bank/settings" class="d-flex items-center text-17 lh-1 fw-500 ">
                <i class="text-20 icon-setting mr-15"></i>
                Settings Momo
            </a>
        </div>

        <div class="sidebar__item ">
            <a href="/admin/blogs" class="d-flex items-center text-17 lh-1 fw-500 ">
                <i class="text-20 icon-play mr-15"></i>
                Bài viết
            </a>
        </div>

        <div class="sidebar__item ">
            <a href="/admin/categories/" class="d-flex items-center text-17 lh-1 fw-500 ">
                <i class="text-20 icon-explore mr-15"></i>
                Danh mục
            </a>
        </div>

        <div class="sidebar__item ">
            <a href="/admin/media/" class="d-flex items-center text-17 lh-1 fw-500 ">
                <i class="text-20 icon-digital-art mr-15"></i>
                Media
            </a>
        </div>

    </div>


</div>