<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tất cả khoá học</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <%- include('../layout/analytics'); %>

</head>

<body style="background-color: rgb(245, 244, 248);">
    <div id="root">
        <div class="App">
            <%- include('./admin/nav'); %>
            <div class="py-4 py-lg-8 pb-14 bg-white ">
                <div class="container">
                    <div class="justify-content-center row">
                        <div class="mb-2 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                            <div class="text-center mb-4"><a class="fs-5 fw-semi-bold d-block mb-4 text-primary"
                                    href="/marketing/blog/article-single/1">Courses</a>
                                <h1 class="display-3 fw-bold mb-4">Getting started the Web App JavaScript in 2020</h1>
                                <span class="mb-3 d-inline-block">6 min read</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <div class="d-flex align-items-center"><img
                                        src="/static/media/avatar-6.3905522d6589ed6dfcf0.jpg" alt=""
                                        class="rounded-circle avatar-md">
                                    <div class="ms-2 lh-1">
                                        <h5 class="mb-1 ">Dustin Warren</h5><span class="text-primary">Marketing
                                            Manager</span>
                                    </div>
                                </div>
                                <div><span class="ms-2 text-muted">Share</span><a class="ms-2 text-muted"
                                        href="/marketing/blog/article-single/1"><i class="fab fa-facebook"></i></a><a
                                        class="ms-2 text-muted" href="/marketing/blog/article-single/1"><i
                                            class="fab fa-twitter"></i></a><a class="ms-2 text-muted "
                                        href="/marketing/blog/article-single/1"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-center row">
                        <div class="mb-6 col-xl-10 col-lg-10 col-md-12 col-sm-12"><img
                                src="/static/media/blogpost-2.bec7202197713425ceeb.jpg" alt=""
                                class="img-fluid rounded-3"></div>
                    </div>
                    <div class="justify-content-center row">
                        <div class="mb-2 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                            <div>
                                <p></p>
                                <h4>Design Systems for Developers Geeks a modern, clean and accessibility oriented
                                    design system for developing fast and powerful web interfaces.</h4>
                                <br>Condimentum leo utipsum euismod feugiatn elntum sapiennonser variusmi elementum
                                necunc elementum velitnon tortor convallis variusa placerat nequhse.
                                Mauris varius ullamcorper tincidsellus egestas innisivel sollicituullam feugiate
                                facilisis ones Suspendisse blandit sedtincinean.<br>
                                Mauris varius ullamcorper tincidsellus egestas innisivel sollicituullam feugiate
                                facilisis ones velleo finibus maximus nequsese sedmattis auspendisse<u>
                                    duimetus ullamcorper faucibuse blandit</u>sedtincinean.<p></p><br>
                                <hr><br>
                                <blockquote style="text-align: center;">
                                    <h2 style="color: rgb(117, 79, 254);">"Failure will never overtake me if my
                                        determination to succeed is strong enough."</h2>
                                    <footer>
                                        <cite title="Source Title">Og Mandino</cite>
                                    </footer>
                                </blockquote><br>
                                <hr><br>
                                <div>
                                    <p>Condimentum leo utipsum euismod feugiatn elntum
                                        <strong>sapiennonser variusmi elementum </strong>necunc elem entum velitnon
                                        tortor convallis variusa placerat nequhse. Quis eu Lorem irure magna.
                                        Ex labore reprehenderit veniam irure id nostrud velit. Minim aliquip cillum
                                        laborum qui Lorem eu.
                                    </p>
                                    <p>Sint officia nulla deserunt voluptate non amet consequat ipsum tempor. Nulla id
                                        cupidatat ipsum occaecat. Aute ad et fugiat velit sunt qui veniam labore elit
                                        ipsum commodo proident.
                                        Sit tempor consectetur commodo laborum mollit. Enim sint nostrud nisi in ad
                                        aliqua laboris ad non.</p>
                                </div>
                                <div>
                                    <h3>Unordered Lists (Nested)</h3><br>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetur adipiscing elit</li>
                                        <li>Integer molestie lorem at massa</li>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                        <li>Nulla volutpat aliquam velit<ul>
                                                <li>Phasellus iaculis neque</li>
                                                <li>Purus sodales ultricies</li>
                                                <li>Vestibulum laoreet porttitor sem</li>
                                                <li>Ac tristique libero volutpat at</li>
                                            </ul>
                                        </li>
                                        <li>Faucibus porta lacus fringilla vel</li>
                                        <li>Aenean sit amet erat nunc</li>
                                        <li>Eget porttitor lorem</li>
                                    </ul>
                                </div>
                                <div>
                                    <h3>Ordered List (Nested)</h3>
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetur adipiscing elit</li>
                                        <li>Integer molestie lorem at massa</li>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                        <li>Nulla volutpat aliquam velit<ol>
                                                <li>Phasellus iaculis neque</li>
                                                <li>Purus sodales ultricies</li>
                                                <li>Vestibulum laoreet porttitor sem</li>
                                                <li>Ac tristique libero volutpat at</li>
                                            </ol>
                                        </li>
                                        <li>Faucibus porta lacus fringilla vel</li>
                                        <li>Aenean sit amet erat nunc</li>
                                        <li>Eget porttitor lorem</li>
                                    </ol>
                                </div>
                                <div>
                                    <h2>Image </h2>
                                    <p>Sint officia nulla deserunt voluptate non amet consequat ipsum tempor. Nulla id
                                        cupidatat ipsum occaecat. Aute ad et fugiat velit sunt qui veniam labore elit
                                        ipsum commodo proident.
                                        Sit tempor consectetur commodo laborum mollit. Enim sint nostrud nisi in ad
                                        aliqua laboris ad non.</p>
                                    <img src="https://codescandy.com/geeks-bootstrap-5/assets/images/blog/center-img.jpg"
                                        alt="" style="width:100%">
                                </div>
                            </div>
                            <hr class="mt-8 mb-5">
                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <div class="d-flex align-items-center"><img
                                        src="/static/media/avatar-6.3905522d6589ed6dfcf0.jpg" alt=""
                                        class="rounded-circle avatar-md">
                                    <div class="ms-2 lh-1">
                                        <h5 class="mb-1 ">Dustin Warren</h5><span class="text-primary">Marketing
                                            Manager</span>
                                    </div>
                                </div>
                                <div><span class="ms-2 text-muted">Share</span><a class="ms-2 text-muted"
                                        href="/marketing/blog/article-single/1"><i class="fab fa-facebook"></i></a><a
                                        class="ms-2 text-muted" href="/marketing/blog/article-single/1"><i
                                            class="fab fa-twitter"></i></a><a class="ms-2 text-muted "
                                        href="/marketing/blog/article-single/1"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="py-12">
                                <div class="text-center mb-6">
                                    <h2 class="display-4 fw-bold">Sign up for our Newsletter</h2>
                                    <p class="mb-0 lead">Join our newsletter and get resources, curated content, and
                                        design inspiration delivered straight to your inbox.</p>
                                </div>
                                <form class="row px-md-20">
                                    <div class="mb-3 col ps-0 ms-2 ms-md-0"><input placeholder="Email Address"
                                            type="email" id="formBasicEmail" class="form-control"></div>
                                    <div class="mb-3 col-auto ps-0"><button type="submit" class="btn btn-primary">
                                            Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="my-5">
                                <h2>Related Post</h2>
                            </div>
                        </div>
                        <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="mb-4 shadow-lg card"><a href="/marketing/blog/article-single/6"><img
                                        class="card-img-top rounded-top-md img-fluid"
                                        src="/static/media/blogpost-3.08def44b3b2603bd3985.jpg"></a>
                                <div class="card-body"><a class="fs-5 fw-semi-bold d-block mb-3 text-warning"
                                        href="/marketing/blog/article-single/1">Workshop</a>
                                    <h3><a class="text-inherit" href="/marketing/blog/article-single/6">The Best DevOps
                                            Tools for Your Application Lifecycle</a></h3>
                                    <p> Inventore pariatur veritatis maxime fugiat sint dolorem quas culpa officiis nemo
                                        quis! </p>
                                    <div class="align-items-center g-0 mt-4 row">
                                        <div class="col-auto col"><img
                                                src="/static/media/avatar-1.d2fd9642fd3628734b27.jpg" alt=""
                                                class="rounded-circle avatar-sm me-2"></div>
                                        <div class="col lh-1 col">
                                            <h5 class="mb-1">Dustin Warren</h5>
                                            <p class="fs-6 mb-0">September 09, 2020</p>
                                        </div>
                                        <div class="col-auto col">
                                            <p class="fs-6 mb-0">12 Min Read</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="mb-4 shadow-lg card"><a href="/marketing/blog/article-single/7"><img
                                        class="card-img-top rounded-top-md img-fluid"
                                        src="/static/media/blogpost-1.b7812866b40bb29d8dfb.jpg"></a>
                                <div class="card-body"><a class="fs-5 fw-semi-bold d-block mb-3 text-info"
                                        href="/marketing/blog/article-single/1">Company</a>
                                    <h3><a class="text-inherit" href="/marketing/blog/article-single/7">How to become
                                            modern Stack Developer in 2020</a></h3>
                                    <p> At beatae non sit dicta similique perspiciatis facilis veritatis quam.
                                        Recusandae, corrupti? </p>
                                    <div class="align-items-center g-0 mt-4 row">
                                        <div class="col-auto col"><img
                                                src="/static/media/avatar-2.397cdd4b772a83b9166e.jpg" alt=""
                                                class="rounded-circle avatar-sm me-2"></div>
                                        <div class="col lh-1 col">
                                            <h5 class="mb-1">Reva Yokk</h5>
                                            <p class="fs-6 mb-0">September 10, 2020</p>
                                        </div>
                                        <div class="col-auto col">
                                            <p class="fs-6 mb-0">10 Min Read</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="mb-4 shadow-lg card"><a href="/marketing/blog/article-single/15"><img
                                        class="card-img-top rounded-top-md img-fluid"
                                        src="/static/media/blogpost-5.2fafe88ffd24705261bf.jpg"></a>
                                <div class="card-body"><a class="fs-5 fw-semi-bold d-block mb-3 text-success"
                                        href="/marketing/blog/article-single/1">Courses</a>
                                    <h3><a class="text-inherit" href="/marketing/blog/article-single/15">How to become
                                            modern Stack Developer in 2020</a></h3>
                                    <p> At beatae non sit dicta similique perspiciatis facilis veritatis quam.
                                        Recusandae, corrupti? </p>
                                    <div class="align-items-center g-0 mt-4 row">
                                        <div class="col-auto col"><img
                                                src="/static/media/avatar-2.397cdd4b772a83b9166e.jpg" alt=""
                                                class="rounded-circle avatar-sm me-2"></div>
                                        <div class="col lh-1 col">
                                            <h5 class="mb-1">Reva Yokk</h5>
                                            <p class="fs-6 mb-0">September 10, 2020</p>
                                        </div>
                                        <div class="col-auto col">
                                            <p class="fs-6 mb-0">10 Min Read</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer bg-transparent">
                <div class="container">
                    <div class="align-items-center g-0 border-top py-2 row">
                        <div class="text-center text-md-start col-md-6 col-sm-12"><span>© 2022 Geeks. All Rights
                                Reserved.</span></div>
                        <div class="col-md-6 col-sm-12">
                            <nav class="nav nav-footer justify-content-center justify-content-md-end"><a
                                    class="nav-link active ps-0" href="/marketing/blog/article-single/1">Privacy</a><a
                                    class="nav-link" href="/marketing/blog/article-single/1">Terms </a><a
                                    class="nav-link" href="/marketing/blog/article-single/1">Feedback</a><a
                                    class="nav-link" href="/marketing/blog/article-single/1">Support</a></nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"
        style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
        <defs id="SvgjsDefs1002"></defs>
        <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
        <path id="SvgjsPath1004" d="M0 0 "></path>
    </svg>
</body>


<%- include('./layout/footerjs'); %>