<footer class="footer -type-4 bg-dark-2">
    <div class="container">
      <div class="row y-gap-30 justify-between pt-60">
        <div class="col-lg-7 col-md-6">
          <div class="text-17 fw-500 text-white uppercase mb-25">
            TÌM KIẾM
          </div>
          <form action="/tim-kiem" method="get" class="form-single-field -base mt-15">
            <input class="py-20 px-30 bg-dark-6 rounded-200 text-white" type="text" name="text" placeholder="Tìm kiếm">
            <button class="button -white rounded-full" type="submit">
              <i class="icon-arrow-right text-24 text-dark-1"></i>
            </button>
          </form>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="footer-header__logo">
            <a data-barba="" href="/">
              <img src="/img/general/logo.png" alt="logo">
            </a>
          </div>

          <div class="d-flex justify-between mt-30">
            <div class="">
              <div class="text-white opac-70">Bạn cần chat với hỗ trợ?</div>
              <div class="text-18 lh-1 fw-500 text-white mt-5"><a href="https://m.me/108479422217669" target="_blank">https://m.me/108479422217669</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row y-gap-30 justify-between pt-60 pb-60">
        <div class="col-lg-7 col-md-6">
          <div class="row y-gap-30">
            <div class="col-lg-4 col-md-4">
              <div class="text-17 fw-500 text-white uppercase mb-25">Giới thiệu</div>
              <div class="d-flex y-gap-10 flex-column text-white">
                <a href="/gioi-thieu">Về chúng tôi</a>
                <a href="/chinh-sach-bao-mat">Chính sách bảo mật</a>
                <a href="/lienhe">Liên Hệ</a>
              </div>
            </div>

            <div class="col-lg-8 col-md-8">
              <div class="text-17 fw-500 text-white uppercase mb-25">Danh mục</div>
              <div class="row justify-between y-gap-20">
                <div class="col-md-6">
                  <div class="d-flex y-gap-10 flex-column text-white">
                    <a href="/topic/development">Lập trình</a>
                    <a href="/topic/business">Kinh Doanh</a>
                    <a href="/topic/finance-and-accounting">Finance &amp; Accounting</a>
                    <a href="/topic/it-and-software">IT &amp; Software</a>
                    <a href="/topic/tin-hoc-van-phong">Tin học văn phòng</a>
                    <a href="/topic/design">Design</a>
                    <a href="/topic/marketing">Marketing</a>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="d-flex y-gap-10 flex-column text-white">
                    <a href="/topic/product-photography">Product Photography</a>
                    <a href="/topic/facebook-marketing">Facebook Marketing</a>
                    <a href="/topic/music-production">Music Production</a>
                    <a href="/topic/seo">Seo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
            <div class="">
                <div class="text-17 uppercase text-white fw-500">Take your learning with you</div>

                <div class="d-flex mt-15">
                  <div class="d-flex items-center rounded-8 px-25 py-10 footer-bg-color">
                    <div class="icon-apple text-white text-24"></div>
                    <div class="text-white ml-20">
                      <div class="text-13 lh-12">Download on the</div>
                      <div class="text-15 fw-500 lh-12 mt-3">Apple Store</div>
                    </div>
                  </div>

                  <div class="d-flex items-center rounded-8 px-25 py-10 footer-bg-color ml-10">
                    <div class="icon-play-market text-white text-24"></div>
                    <div class="text-white ml-20">
                      <div class="text-13 lh-12">Get in on</div>
                      <div class="text-15 fw-500 lh-12 mt-3">Google Play</div>
                    </div>
                  </div>
                </div>
              </div>
          <div class="footer-header-socials mt-60">
            <div class="text-17 uppercase text-white fw-500">Follow us on social media</div>
            <div class="footer-header-socials__list d-flex items-center mt-15">
              <a href="https://fb.com/fullbootcamp3" class="size-40 d-flex justify-center items-center text-white"><i class="icon-facebook"></i></a>
              
            </div>
          </div>
        </div>
      </div>

      <div class="py-30 border-top-light-15">
        <div class="row justify-between items-center y-gap-20">
          <div class="col-auto">
            <div class="d-flex items-center h-100 text-white">
              © 2024 Full Bootcamp. All Right Reserved.
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </footer>