<header data-anim="fade" data-add-bg="" class="header -type-3 js-header">


    <div class="header__container py-10">
        <div class="row justify-between items-center">

            <div class="col-auto">
                <div class="header-left d-flex items-center">

                    <div class="header__logo ">
                        <a data-barba href="/" class="text-blue-3 text-18">
                            <!-- <img src="/img/general/logo-dark.svg" alt="logo"> -->
                            Full Bootcamp
                        </a>
                    </div>


                    <!-- <div class="header__explore text-purple-1 ml-30 xl:d-none">
                        <a href="#" class="d-flex items-center" data-el-toggle=".js-explore-toggle">
                            <i class="icon icon-explore mr-15"></i>
                            Danh mục
                        </a>

                        <div class="explore-content py-25 rounded-8 bg-white toggle-element js-explore-toggle">

                            <div class="explore__item">
                                <a href="#" class="d-flex items-center justify-between text-dark-1">
                                    Architecture<div class="icon-chevron-right text-11"></div>
                                </a>
                                <div class="explore__subnav rounded-8">
                                    <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                                    <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                                    <a class="text-dark-1" href="courses-single-4.html">User Experience
                                        Design</a>
                                    <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                                    <a class="text-dark-1" href="courses-single-6.html">3D & Animation</a>
                                    <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                                </div>
                            </div>

                            <div class="explore__item">
                                <a href="#" class="d-flex items-center justify-between text-dark-1">
                                    Business<div class="icon-chevron-right text-11"></div>
                                </a>
                                <div class="explore__subnav rounded-8">
                                    <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                                    <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                                    <a class="text-dark-1" href="courses-single-4.html">User Experience
                                        Design</a>
                                    <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                                    <a class="text-dark-1" href="courses-single-6.html">3D & Animation</a>
                                    <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                                </div>
                            </div>


                            <div class="explore__item">
                                <a href="#" class="text-dark-1">Computer Programming</a>
                            </div>

                            <div class="explore__item">
                                <a href="#" class="text-dark-1">Data Analysis</a>
                            </div>


                            <div class="explore__item">
                                <a href="#" class="d-flex items-center justify-between text-dark-1">
                                    Design<div class="icon-chevron-right text-11"></div>
                                </a>
                                <div class="explore__subnav rounded-8">
                                    <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                                    <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                                    <a class="text-dark-1" href="courses-single-4.html">User Experience
                                        Design</a>
                                    <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                                    <a class="text-dark-1" href="courses-single-6.html">3D & Animation</a>
                                    <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                                </div>
                            </div>

                            <div class="explore__item">
                                <a href="courses-single-6.html" class="text-dark-1">Education</a>
                            </div>


                            <div class="explore__item">
                                <a href="#" class="d-flex items-center justify-between text-dark-1">
                                    Electronics<div class="icon-chevron-right text-11"></div>
                                </a>
                                <div class="explore__subnav rounded-8">
                                    <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                                    <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                                    <a class="text-dark-1" href="courses-single-4.html">User Experience
                                        Design</a>
                                    <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                                    <a class="text-dark-1" href="courses-single-6.html">3D & Animation</a>
                                    <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                                </div>
                            </div>

                            <div class="explore__item">
                                <a href="#" class="d-flex items-center justify-between text-dark-1">
                                    Language<div class="icon-chevron-right text-11"></div>
                                </a>
                                <div class="explore__subnav rounded-8">
                                    <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                                    <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                                    <a class="text-dark-1" href="courses-single-4.html">User Experience
                                        Design</a>
                                    <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                                    <a class="text-dark-1" href="courses-single-6.html">3D & Animation</a>
                                    <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                                </div>
                            </div>

                            <div class="explore__item">
                                <a href="#" class="d-flex items-center justify-between text-dark-1">
                                    Marketing<div class="icon-chevron-right text-11"></div>
                                </a>
                                <div class="explore__subnav rounded-8">
                                    <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                                    <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                                    <a class="text-dark-1" href="courses-single-4.html">User Experience
                                        Design</a>
                                    <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                                    <a class="text-dark-1" href="courses-single-6.html">3D & Animation</a>
                                    <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                                </div>
                            </div>


                            <div class="explore__item">
                                <a href="#" class="text-dark-1">Music Arts</a>
                            </div>

                            <div class="explore__item">
                                <a href="#" class="text-dark-1">Social Science</a>
                            </div>


                            <div class="explore__item">
                                <a href="#" class="d-flex items-center justify-between text-dark-1">
                                    Photography & Video<div class="icon-chevron-right text-11"></div>
                                </a>
                                <div class="explore__subnav rounded-8">
                                    <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                                    <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                                    <a class="text-dark-1" href="courses-single-4.html">User Experience
                                        Design</a>
                                    <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                                    <a class="text-dark-1" href="courses-single-6.html">3D & Animation</a>
                                    <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                                </div>
                            </div>

                            <div class="explore__item">
                                <a href="courses-single-1.html" class="text-dark-1">IT & Software</a>
                            </div>

                            <div class="explore__item">
                                <a href="courses-single-2.html" class="text-purple-1 underline">View All
                                    Courses</a>
                            </div>
                        </div>
                    </div> -->


                    <div class="header-search-field ml-30">
                        <form action="/orders" method="GET">
                            <div class="header-search-field__group">
                                <input type="text" placeholder="Tìm kiếm email..." name="query">
                                <button type="submit">
                                    <i class="icon icon-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-auto">
                <div class="header-right d-flex items-center">
                    <div class="header-right__icons text-white d-flex items-center">

                        <div class="header-menu js-mobile-menu-toggle ">
                            <div class="header-menu__content">
                                <div class="mobile-bg js-mobile-bg"></div>

                                <div class="d-none xl:d-flex items-center px-20 py-20 border-bottom-light">
                                    <!-- <a href="login.html" class="text-dark-1">Log in</a> -->
                                    <a href="/#getCourseHere" class="text-dark-1 ml-30">Download Course Udemy</a>
                                </div>


                                <div class="menu js-navList">
                                    <ul class="menu__nav text-dark-1 -is-active">
                                        <li>
                                            <a data-barba href="/order">Tracking</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
                                <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
                                    <div class="icon-close text-dark-1 text-16"></div>
                                </div>
                            </div>

                            <div class="header-menu-bg"></div>
                        </div>

                        <!-- 
                        <div class="relative ml-30 xl:ml-20">
                            <button class="d-flex items-center text-dark-1" data-el-toggle=".js-cart-toggle">
                                <i class="text-20 icon icon-basket"></i>
                            </button>

                            <div class="toggle-element js-cart-toggle">
                                <div class="header-cart bg-white -dark-bg-dark-1 rounded-8">
                                    <div class="px-30 pt-30 pb-10">

                                        <div class="row justify-between x-gap-40 pb-20">
                                            <div class="col">
                                                <div class="row x-gap-10 y-gap-10">
                                                    <div class="col-auto">
                                                        <img src="img/menus/cart/1.png" alt="image">
                                                    </div>

                                                    <div class="col">
                                                        <div class="text-dark-1 lh-15">The Ultimate Drawing
                                                            Course Beginner to Advanced...</div>

                                                        <div class="d-flex items-center mt-10">
                                                            <div class="lh-12 fw-500 line-through text-light-1 mr-10">
                                                                $179</div>
                                                            <div class="text-18 lh-12 fw-500 text-dark-1">$79
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <button><img src="img/menus/close.svg" alt="icon"></button>
                                            </div>
                                        </div>

                                        <div class="row justify-between x-gap-40 pb-20">
                                            <div class="col">
                                                <div class="row x-gap-10 y-gap-10">
                                                    <div class="col-auto">
                                                        <img src="img/menus/cart/2.png" alt="image">
                                                    </div>

                                                    <div class="col">
                                                        <div class="text-dark-1 lh-15">User Experience Design
                                                            Essentials - Adobe XD UI UX...</div>

                                                        <div class="d-flex items-center mt-10">
                                                            <div class="lh-12 fw-500 line-through text-light-1 mr-10">
                                                                $179</div>
                                                            <div class="text-18 lh-12 fw-500 text-dark-1">$79
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <button><img src="img/menus/close.svg" alt="icon"></button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="px-30 pt-20 pb-30 border-top-light">
                                        <div class="d-flex justify-between">
                                            <div class="text-18 lh-12 text-dark-1 fw-500">Total:</div>
                                            <div class="text-18 lh-12 text-dark-1 fw-500">$659</div>
                                        </div>

                                        <div class="row x-gap-20 y-gap-10 pt-30">
                                            <div class="col-sm-6">
                                                <button
                                                    class="button py-20 -dark-1 text-white -dark-button-white col-12">View
                                                    Cart</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button
                                                    class="button py-20 -purple-1 text-white col-12">Checkout</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <div class="d-none xl:d-block ml-20">
                            <button class="text-dark-1 items-center" data-el-toggle=".js-mobile-menu-toggle">
                                <i class="text-11 icon icon-mobile-menu"></i>
                            </button>
                        </div>

                    </div>

                    <div class="header-right__buttons d-flex items-center ml-30 xl:ml-20 md:d-none">
                        <!-- <a href="login.html" class="button px-30 h-50 -outline-dark-1 text-dark-1">Log in</a> -->
                        <a href="/#getCourseHere" class="button px-30 h-50 -dark-1 text-white ml-10">Download Course
                            Udemy</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>