<header data-anim="fade" data-add-bg="bg-dark-1" class="header -type-1 js-header is-in-view">


    <div class="header__container">
        <div class="row justify-between items-center">

            <div class="col-auto">
                <div class="header-left">

                    <div class="header__logo ">
                        <a class="navbar-brand" style="color: white !important; font-size: 24px !important;" href="/">
                            FullBootcamp
                        </a>
                    </div>


                    <div class="header__explore text-green-1 ml-60 xl:ml-30 xl:d-none">
                        <a href="#" class="d-flex items-center" data-el-toggle=".js-explore-toggle">
                            <i class="icon icon-explore mr-15"></i>
                            Danh mục
                        </a>

                        <div class="explore-content py-25 rounded-8 bg-white toggle-element js-explore-toggle">

                            <div class="explore__item">
                                <a href="/topic/cyberlearn" class="d-flex items-center justify-between text-dark-1">
                                    Cyberlearn
                                    <!-- <div class="icon-chevron-right text-11"></div> -->
                                </a><a href="/topic/duocmmo" class="d-flex items-center justify-between text-dark-1">
                                    Duocmmo
                                    <!-- <div class="icon-chevron-right text-11"></div> -->
                                </a>
                                <!-- <div class="explore__subnav rounded-8">
                                    <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                                    <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                                    <a class="text-dark-1" href="courses-single-4.html">User Experience Design</a>
                                    <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                                    <a class="text-dark-1" href="courses-single-6.html">3D &amp; Animation</a>
                                    <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                                    <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                                </div> -->
                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <div class="header-menu js-mobile-menu-toggle ">
                <div class="header-menu__content">
                    <div class="mobile-bg js-mobile-bg"></div>

                    <div class="menu js-navList">
                        <ul class="menu__nav text-white -is-active">
                            <li>
                                <a data-barba="" href="/">Trang chủ</a>
                            </li>
                            <li>
                                <a data-barba="" href="/">GiftCode Udemy</a>
                            </li>
                            <li>
                                <a data-barba="" href="/order">Tracking</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/blog">Blog <i class="icon-chevron-right text-13 ml-10"></i></a>
                                <ul class="subnav">
                                    <li class="menu__backButton js-nav-list-back">
                                        <a href="/blog"><i class="icon-chevron-left text-13 mr-10"></i> Blog</a>
                                    </li>

                                    <li><a href="/category/huong-dan">Hướng dẫn</a></li>

                                    <li><a href="/category/share-khoa-hoc">Share khoá học</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
                    <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
                        <div class="icon-close text-dark-1 text-16"></div>
                    </div>
                </div>

                <div class="header-menu-bg"></div>
            </div>


            <div class="col-auto">
                <div class="header-right d-flex items-center">
                    <div class="header-right__icons text-white d-flex items-center">

                        <div class="">
                            <button class="d-flex items-center text-white" aria-label="Tìm kiếm"
                                data-el-toggle=".js-search-toggle">
                                <i class="text-20 icon icon-search"></i>
                            </button>

                            <div class="toggle-element js-search-toggle">
                                <div class="header-search pt-90 bg-white shadow-4">
                                    <div class="container">
                                        <div class="header-search__field">
                                            <div class="icon icon-search text-dark-1"></div>
                                            <input type="text" class="col-12 text-18 lh-12 text-dark-1 fw-500"
                                                placeholder="What do you want to learn?">

                                            <button aria-label="Đóng"
                                                class="d-flex items-center justify-center size-40 rounded-full bg-purple-3"
                                                data-el-toggle=".js-search-toggle">
                                                <img src="/img/menus/close.svg" alt="icon">
                                            </button>
                                        </div>
                                        <!-- 
                                        <div class="header-search__content mt-30">
                                            <div class="text-17 text-dark-1 fw-500">Popular Right Now</div>

                                            <div class="d-flex y-gap-5 flex-column mt-20">
                                                <a href="courses-single-1.html" class="text-dark-1">The Ultimate Drawing
                                                    Course - Beginner to Advanced</a>
                                                <a href="courses-single-2.html" class="text-dark-1">Character Art
                                                    School: Complete Character Drawing Course</a>
                                                <a href="courses-single-3.html" class="text-dark-1">Complete Blender
                                                    Creator: Learn 3D Modelling for Beginners</a>
                                                <a href="courses-single-4.html" class="text-dark-1">User Experience
                                                    Design Essentials - Adobe XD UI UX Design</a>
                                                <a href="courses-single-5.html" class="text-dark-1">Graphic Design
                                                    Masterclass - Learn GREAT Design</a>
                                                <a href="courses-single-6.html" class="text-dark-1">Adobe Photoshop CC –
                                                    Essentials Training Course</a>
                                            </div>

                                            <div class="mt-30">
                                                <button class="uppercase underline">PRESS ENTER TO SEE ALL SEARCH
                                                    RESULTS</button>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="header-search__bg" data-el-toggle=".js-search-toggle"></div>
                            </div>
                        </div>

                        <!-- 
                        <div class="relative ml-30 xl:ml-20">
                            <button class="d-flex items-center text-white" data-el-toggle=".js-cart-toggle">
                                <i class="text-20 icon icon-basket"></i>
                            </button>

                            <div class="toggle-element js-cart-toggle">
                                <div class="header-cart bg-white -dark-bg-dark-1 rounded-8">
                                    <div class="px-30 pt-30 pb-10">

                                        <div class="row justify-between x-gap-40 pb-20">
                                            <div class="col">
                                                <div class="row x-gap-10 y-gap-10">
                                                    <div class="col-auto">
                                                        <img src="img/menus/cart/1.png" alt="image">
                                                    </div>

                                                    <div class="col">
                                                        <div class="text-dark-1 lh-15">The Ultimate Drawing Course
                                                            Beginner to Advanced...</div>

                                                        <div class="d-flex items-center mt-10">
                                                            <div class="lh-12 fw-500 line-through text-light-1 mr-10">
                                                                $179</div>
                                                            <div class="text-18 lh-12 fw-500 text-dark-1">$79</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <button><img src="img/menus/close.svg" alt="icon"></button>
                                            </div>
                                        </div>

                                        <div class="row justify-between x-gap-40 pb-20">
                                            <div class="col">
                                                <div class="row x-gap-10 y-gap-10">
                                                    <div class="col-auto">
                                                        <img src="img/menus/cart/2.png" alt="image">
                                                    </div>

                                                    <div class="col">
                                                        <div class="text-dark-1 lh-15">User Experience Design Essentials
                                                            - Adobe XD UI UX...</div>

                                                        <div class="d-flex items-center mt-10">
                                                            <div class="lh-12 fw-500 line-through text-light-1 mr-10">
                                                                $179</div>
                                                            <div class="text-18 lh-12 fw-500 text-dark-1">$79</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <button><img src="img/menus/close.svg" alt="icon"></button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="px-30 pt-20 pb-30 border-top-light">
                                        <div class="d-flex justify-between">
                                            <div class="text-18 lh-12 text-dark-1 fw-500">Total:</div>
                                            <div class="text-18 lh-12 text-dark-1 fw-500">$659</div>
                                        </div>

                                        <div class="row x-gap-20 y-gap-10 pt-30">
                                            <div class="col-sm-6">
                                                <button
                                                    class="button py-20 -dark-1 text-white -dark-button-white col-12">View
                                                    Cart</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button
                                                    class="button py-20 -purple-1 text-white col-12">Checkout</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <div class="d-none xl:d-block ml-20">
                            <button class="text-white items-center" aria-label="Mở menu"
                                data-el-toggle=".js-mobile-menu-toggle">
                                <i class="text-11 icon icon-mobile-menu"></i>
                            </button>
                        </div>

                    </div>

                    <div class="header-right__buttons d-flex items-center ml-30 md:d-none">
                        <!-- <a href="login.html" class="button -underline text-white">Log in</a> -->
                        <a href="/" class="button -sm -white text-dark-1 ml-30">Get Course</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>