<nav class=" navbar p-2 navbar-dark bg-dark navbar navbar-expand-lg navbar-light">
    <div class="px-0 ps-2 container-fluid"><a class="navbar-brand" href="/">
            Full Bootcamp</a>
        <button aria-controls="basic-navbar-nav" type="button" class="navbar-toggler collapsed"
            data-bs-toggle="collapse" data-bs-target="#basic-navbar-nav" aria-controls="basic-navbar-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar mt-0"></span><span class="icon-bar middle-bar"></span><span
                class="icon-bar bottom-bar"></span></button>
        <div class="navbar-collapse collapse" id="basic-navbar-nav">
            <div class="navbar-nav">
                <div class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/tracking">Tracking</a>
                </div>
                <div class="nav-item dropdown"><a id="basic-nav-dropdown" aria-expanded="false" role="button"
                        class="dropdown-toggle no-dropdown-arrow d-block nav-link fs-3 lh-1 pt-0" tabindex="0"
                        href="#">...</a></div>
            </div>
            <form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center" action="/search" method="GET">
                <span class="position-absolute ps-3 search-icon"><i class="fe fe-search"></i></span><input
                    placeholder="Điền địa chỉ email để check đơn hàng" type="Search" id="formSearch"
                    class="ps-6 form-control" name="email" />
            </form>
            <div class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap navbar-nav"><span
                    class="ms-auto mt-3 mt-lg-0  "><a class="btn btn-primary shadow-sm btn" href="/">Get khoá
                        học</a></span>

            </div>
        </div>
    </div>
</nav>